@import "./theme/dark.less";
@import "./theme/light.less";

:root {
	--header-height: 6vh;
	--height-content: 94vh;
	--height-player: 0vh;
}

html {
	caret-color: transparent;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
		"微软雅黑", Arial, sans-serif;
	& > body {
		color: var(--primary-text);
		margin: 0;
		padding: 0;
	}
	input,
	textarea {
		outline: none;
		caret-color: auto;
		border: none;
		background-color: transparent;
	}
}

.table-row {
	color: var(--regular-text);
}
.table-header {
	color: var(--secondary-text);
}

.el-table {
	--el-table-tr-bg-color: var(--table-bg-color) !important;
	--el-table-header-bg-color: var(--table-bg-color) !important;
	--el-table-bg-color: var(--table-bg-color) !important;
	--el-table-border-color: var(--table-border-color) !important;
	--el-table-row-hover-bg-color: var(--table-bg-color-hover) !important;
}
.el-table__inner-wrapper::before {
	display: none !important;
}

.el-menu {
	background-color: transparent !important;
	border-right: 1px solid var(--darker-fill);
}
.el-menu-item {
	color: var(--primary-text);
	&:hover {
		background-color: var(--menu-bg-color-hover);
	}
}
.el-sub-menu__title {
	color: var(--primary-text) !important;
	&:hover {
		background-color: var(--menu-bg-color-hover) !important;
	}
}
.el-popper.is-light {
	background-color: var(--light-fill);
	border: 1px solid var(--light-fill);
}
.el-tabs__item {
	color: var(--secondary-text);
}

.el-tabs__nav-wrap::after {
	background-color: var(--darker-fill);
}
.el-dialog {
	background: var(--lighter-fill) !important;
	border-radius: 16px !important;
}

.el-dialog__title {
	color: var(--regular-text) !important;
}

.el-drawer {
	--el-drawer-bg-color: var(--light-fill) !important;
}
.el-slider {
	--el-slider-main-bg-color: var(--theme-color) !important;
	--el-slider-runway-bg-color: var(--darker-fill) !important;
}
.el-input__wrapper {
	background-color: transparent !important;
}

.el-divider__text {
	color: var(--regular-text);
	background-color: var(--suggestion-bg-color);
}

.el-input {
	--el-input-text-color: var(--primary-text);
}
