.el-dialog {
  border-radius: 16px !important;
}

.el-menu {
  background-color: transparent !important;
}

.el-table {
  --el-table-tr-bg-color: var(--table-bg-color) !important;
  --el-table-header-bg-color: var(--table-bg-color) !important;
  --el-table-bg-color: var(--table-bg-color) !important;
  --el-table-border-color: var(--table-border-color) !important;
}

.el-table__inner-wrapper::before {
  display: none !important;
}