:root {
  --header-height: 6vh;
  --height-content: 94vh;
  --height-player: 0vh;

  --primary-text: #303133;
  --regular-text: #606266;
  --secondary-text: #909399;

  --theme-color: #409eff;
  --table-bg-color: transparent;
  --table-border-color: #ebeef5;
}